@font-face {
  font-family: "Chalk writing";
  src: url("./assets/DkCrayonCrumble-ddll.ttf") format("truetype");
}

/* stylelint-disable */
* {
  font-family: Chalk writing;
}
/* stylelint-enable */

h1 {
  font-size: 56px;
  padding: 100px 0 10px 0;
  color: white;
  text-align: center;
}

h3 {
  font-size: 38px;
  color: white;
  padding-bottom: 10px;
}

li {
  font-size: 26px;
  color: #fffc;
  list-style-type: none;
}

ul {
  margin: 5px 0 5px 15px;
}

body {
  background-image: url("./assets/background.jpg");
  background-position: left;
  background-attachment: fixed;
}

input {
  display: block;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffffe0;
  width: 100%;
  font-size: 26px;
  color: white;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
}

#score-container,
#form-container {
  display: inline-block;
  width: 320px;
  margin: 0 30px;
}

button {
  padding: 5px 20px 0 20px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #3ac47d;
  color: white;
  font-size: 22px;
  font-weight: bolder;
}

#refresh {
  background-color: #1c78bb;
}

#list-wrapper {
  padding: 5px;
  max-height: 48vh;
  overflow-y: auto;
  border: 2px solid #fffc;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #dfdfdf00;
}

::-webkit-scrollbar-thumb {
  background: #fffc;
  border-radius: 3px;
}
