input {
  display: block;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

#score-container,
#form-container {
  display: inline-block;
  width: 400px;
}

h1 {
  font-size: 50px;
  padding: 40px;
}

h3 {
  padding-bottom: 15px;
  font-size: 2.2em;
}

.secondary-list-iteam {
  background: rgb(240, 246, 247);
}

button {
  padding: 5px 15px;
  font-weight: bold;
  box-shadow: rgb(61, 59, 60) 4px 5px;
}

#list-wrapper {
  padding: 5px;
  max-height: 50vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #dfdfdf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 4px;
}
